body {
    background-color: whitesmoke;
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.logo {
    color: aliceblue;
    font-size: 24px;
}

header .icon {
    width: 34px;
    height: 34px;
}

header .user {
    display: flex;
    width: 20vw;
    justify-content: space-around;
}

.tweet-list {
    padding: 40px 0 0 10px;
}

.tweet {
    padding-bottom: 20px;
    width: 100%;
}

.user-info .name {
    font-size: 24px;
}

.user-info .icon {
    width: 50px;
    height: 50px;
}

.user-info .user {
    display: flex;
}

.tweet .icon {
    width: 40px;
    height: 40px;
}

.icon {
    border-radius: 50%;
    background-color: coral;
}

.tweet .user {
    display: flex;
    font-size: 16px;
}

.tweet .user .name {
    margin-left: 10px;
}

.tweet .content {
    font-size: 20px;
    padding-left: 40px;
}

.tweet-page .tweet {
    padding: 0 10px;
}

.tweet-page .tweet .menu {
    display: flex;
    justify-content: end;
}

.tweet-page .menu-item {
    padding: 5px
}